.maps-navegation-sect {
    display: grid;
    gap: 28px;
    // border-bottom: 2px solid $gray-1;
    padding-bottom: 28px;
    ul {
        gap: 16px;
        a {
            height: 50px;
            padding: 10px 20px;
        
            border: 3px solid $cold-1;
            border-radius: 25px;
            transition: ease-out 200ms;
        
            font-weight: $bold;
            &:hover {
                cursor: pointer;
                color: $cold-2;
                border-radius: 18px;
                border-color: $cold-2;
            }
        }
    }
}