extend ../components/template.pug
block  specialVar
    - var current_map = "Mapas 3D"
block content
    main
        include ../components/maps-navegation-sect.pug
        
        section.maps
            ul.maps__options
                li
                    input(type="checkbox", id="geolocalizador")
                    label(for="geolocalizador") Mapa con geolocalizador
                li
                    input(type="checkbox", id="transparente")
                    label(for="transparente") Mapa transparente
            each map in maps 
                if map.desc == current_map
                    each iframe in map.maps 
                        +drawmap(iframe.id, iframe.class, iframe.title, iframe.src)
    style.
        #mapa_3d-transparente,
        #mapa_3d-geolocalizador {display: none;}
        @media (min-width: 768px) {.maps__options li {font-size: 1.8rem;}}
        
    script(src="./index.js" defer) 